
body {
    background-color: #4b3259;
}

.center {
    position: absolute;

    width: 500px;
    height: 300px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cinema-form {
  width: 500px;
  min-height: 100%;
  background-color: #dfc7ed;
  color:#4b3259;
  border-radius: 10px;

  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  box-shadow: 0 0 10px 4px #9ecaed;
}

.has-error{
    color:red;
}