.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 80px;
}

body {
    background-color: #000000;
}

span.glyphicon-refresh {
	margin-top: 12px;
	margin-left: -1px;
    font-size: 1.5em;
    color: #5c3566;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fbff60;
}

.header-cinema {
	background-color:#4b3259;
	color:#fee9ff;
	height:90px;
}

.navbar {
  z-index: 1;
}

.button-round {
	height: 50px;
	width: 50px;
	margin-left: 30px;
	margin-top: 15px;
 	border-radius: 50%;
 	border: 1px solid #4e9a06;
 	box-shadow:
 		0 0 10px 5px #c9ebee;

}

.button-round:hover {
	box-shadow:
		0 0 10px 5px #729fcf;
}

.table {
	background-color:#ebd2f2;
}

.disabled{
    pointer-events:none;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
	margin-bottom: 10px;
}


.glyphicon-remove {
    color:#e46363;
}
.glyphicon-remove:hover {
    color:#a40000;
}
.glyphicon-pencil {
    color:#73d216;
}
.glyphicon-pencil:hover {
    color:#4e9a06;
}